</br>
<h1> Welcome to Adnat Shifts Manager </h1>
</br></br>
<h3>Got an account?</h3>
</br>
<%= link_to "Log in", new_user_session_path, class: "btn btn-success"%>

</br></br>
<h3> Create a new account:</h3>
</br>
<%= link_to "Sign up", new_user_registration_path, class:"btn btn-success"%>